In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ply

In [2]:
data = pd.read_csv('covid_19_india.csv')

In [3]:
data=data.drop(['Time','ConfirmedIndianNational', 'ConfirmedForeignNational'],axis=1)

In [4]:
data.head()

   Sno        Date State/UnionTerritory  Cured  Deaths  Confirmed
0    1  2020-01-30               Kerala      0       0          1
1    2  2020-01-31               Kerala      0       0          1
2    3  2020-02-01               Kerala      0       0          2
3    4  2020-02-02               Kerala      0       0          3
4    5  2020-02-03               Kerala      0       0          3

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18110 entries, 0 to 18109
Data columns (total 6 columns):
Sno                     18110 non-null int64
Date                    18110 non-null object
State/UnionTerritory    18110 non-null object
Cured                   18110 non-null int64
Deaths                  18110 non-null int64
Confirmed               18110 non-null int64
dtypes: int64(4), object(2)
memory usage: 849.0+ KB

In [6]:
data2 = data

In [7]:
data2['Date'] = pd.to_datetime(data2['Date'])

In [8]:
data2.head()

   Sno       Date State/UnionTerritory  Cured  Deaths  Confirmed
0    1 2020-01-30               Kerala      0       0          1
1    2 2020-01-31               Kerala      0       0          1
2    3 2020-02-01               Kerala      0       0          2
3    4 2020-02-02               Kerala      0       0          3
4    5 2020-02-03               Kerala      0       0          3

In [9]:
data2.Date.head()

0   2020-01-30
1   2020-01-31
2   2020-02-01
3   2020-02-02
4   2020-02-03
Name: Date, dtype: datetime64[ns]

In [11]:
print(data2['State/UnionTerritory'].unique)

<bound method Series.unique of 0                                          Kerala
1                                          Kerala
2                                          Kerala
3                                          Kerala
4                                          Kerala
5                                          Kerala
6                                          Kerala
7                                          Kerala
8                                          Kerala
9                                          Kerala
10                                         Kerala
11                                         Kerala
12                                         Kerala
13                                         Kerala
14                                         Kerala
15                                         Kerala
16                                         Kerala
17                                         Kerala
18                                         Kerala
19                                         Kerala
20                                         Kerala
21                                         Kerala
22                                         Kerala
23                                         Kerala
24                                         Kerala
25                                         Kerala
26                                         Kerala
27                                         Kerala
28                                         Kerala
29                                         Kerala
                           ...
18080                                Chhattisgarh
18081    Dadra and Nagar Haveli and Daman and Diu
18082                                       Delhi
18083                                         Goa
18084                                     Gujarat
18085                                     Haryana
18086                            Himachal Pradesh
18087                           Jammu and Kashmir
18088                                   Jharkhand
18089                                   Karnataka
18090                                      Kerala
18091                                      Ladakh
18092                                 Lakshadweep
18093                              Madhya Pradesh
18094                                 Maharashtra
18095                                     Manipur
18096                                   Meghalaya
18097                                     Mizoram
18098                                    Nagaland
18099                                      Odisha
18100                                  Puducherry
18101                                      Punjab
18102                                   Rajasthan
18103                                      Sikkim
18104                                  Tamil Nadu
18105                                   Telangana
18106                                     Tripura
18107                                 Uttarakhand
18108                               Uttar Pradesh
18109                                 West Bengal
Name: State/UnionTerritory, Length: 18110, dtype: object>

In [12]:
n = len(pd.unique(data2['State/UnionTerritory']))
print("No.of.unique values :",n)

No.of.unique values : 46

In [13]:
part_50 = data2.sample(frac = 0.5)
 
# Creating dataframe with
# rest of the 50% values
rest_part_50 = data2.drop(part_50.index)

In [14]:
part_50.head()

         Sno       Date State/UnionTerritory   Cured  Deaths  Confirmed
831      832 2020-04-10          West Bengal      16       5        116
16939  16940 2021-07-10               Ladakh   19830     206      20167
14642  14643 2021-05-07             Nagaland   12905     121      15271
18005  18006 2021-08-09                Assam  557654    5387     574100
5439    5440 2020-08-21        Uttar Pradesh  121090    2733     172334

In [15]:
rest_part_50.head()

    Sno       Date State/UnionTerritory  Cured  Deaths  Confirmed
0     1 2020-01-30               Kerala      0       0          1
3     4 2020-02-02               Kerala      0       0          3
8     9 2020-02-07               Kerala      0       0          3
9    10 2020-02-08               Kerala      0       0          3
10   11 2020-02-09               Kerala      0       0          3